<div class="row">
  Altere o nome : <input [(ngModel)]= "nome" placeholder="digite">
<span class="label label-default">: {{nome}}</span>



</div>

<h3 class="first">Ultrassons 1</h3>
<div class="row">

    <li *ngFor="let d of dadosBaby">
        <span>{{d.dia}}</span>
        <span>{{d.peso | pesoFormatado}}</span>
        <span>{{d.tamanho}}</span>
    </li>

</div>

<h3 class="first">Ultrassons 2</h3>
<div class="row" style="margin-top: 30px">
    <table class="table table-condensed">
        <tr>
            <th> ID </th>
            <th> Data </th>
            <th> Peso </th>
            <th>batimento </th>
        </tr>
        <tr *ngFor="let dado of dadosBaby let i = index">
            <td> <a (click)="onSelect(dado)"> {{dado.id}}</a> </td>
            <td> <a (click)="onSelect(dado)">{{dado.dia}}</a> </td>
            <td> <a (click)="exibirProximoFind(dado)">{{dado.peso | pesoFormatado}}</a> </td>
            <td> <a (click)="exibirProximo(dado)">{{dado.batimento}}</a> </td>
        </tr>
    </table>
</div>

<detail-Ultrassom [ultrassom]="selectedUltrassom" [detalhe]="teste"> </detail-Ultrassom>

<!--
<div class="row" *ngIf="selectedUltrassom">
    <h4>Ultrasom Selecionado</h4>
    <label> DATA:       {{selectedUltrassom.dia}}       </label>
    <label> PESO:       {{selectedUltrassom.peso}}      </label>
    <label> TAMANHO:    {{selectedUltrassom.tamanho}}   </label>
</div> 
-->



<h3 class="first">Ultrassons 3</h3>
<p-dataTable [value]="dadosBaby" [rows]="10" [paginator]="true">
    <p-header>Lista de Ultrassons</p-header>
    <p-footer>Selecione algum da lista</p-footer>
    <p-column field="dia" header="Dia Nascimento">

    </p-column>
    <p-column field="peso" header="Peso" [sortable]="true">

    </p-column>
    
    <p-column field="batimento" header="Batimento" [sortable]="true" >

    </p-column>
</p-dataTable>

<!--  
 <div class="row" style="margin-top: 30px">
            <table class="table table-condensed">
                <tr>
                    <th> ID </th>
                    <th> Nome </th>
                    <th> Perfil </th>
                    <th>Data </th>                   
                </tr>
                 <tr *ngFor= "let habilitacao of habilitacoes | perfiladmin; let i = index">
                        <td> <a (click)="edit(habilitacao)"> {{habilitacao.id | formatNumero}}</a> </td>   
                        <td>{{habilitacao.usu}} </td>                        
                        <td>{{habilitacao.perf}}</td>
                        <td> {{habilitacao.dt}} </td>
                </tr>
            </table>
 </div>
    -->