<div class="row">
  Altere o nome : <input [(ngModel)]= "nome" placeholder="digite">
<span class="label label-default">: {{nome}}</span>



</div>

<div class="row">

    <li *ngFor="let d of dadosBaby">
        <span>{{d.dia}}</span>
        <span>{{d.peso}}</span>
        <span>{{d.tamanho}}</span>
    </li>

</div>

<div class="row" style="margin-top: 30px">
    <table class="table table-condensed">
        <tr>
            <th> ID </th>
            <th> Data </th>
            <th> Peso </th>
            <th>Tamanho </th>
        </tr>
        <tr *ngFor="let dado of dadosBaby let i = index">
            <td><a  (click)="onSelect(dado)"> {{i}}</a> </td>
            <td> <a (click)="click(dado)">{{dado.dia}}</a> </td>
            <td> <a (click)="click(dado)">{{dado.peso}}</a> </td>
            <td> <a (click)="click(dado)">{{dado.tamanho}}</a> </td>
        </tr>
    </table>
</div>

<detail-Ultrassom [ultrassom]="selectedUltrassom"> </detail-Ultrassom>

<!--
<div class="row" *ngIf="selectedUltrassom">
    <h4>Ultrasom Selecionado</h4>
    <label> DATA:       {{selectedUltrassom.dia}}       </label>
    <label> PESO:       {{selectedUltrassom.peso}}      </label>
    <label> TAMANHO:    {{selectedUltrassom.tamanho}}   </label>
</div> 
-->



<h3 class="first">Basic</h3>
<p-dataTable [value]="dadosBaby">
    <p-column field="dia" header="dia"></p-column>
    <p-column field="peso" header="peso"></p-column>
    <p-column field="tamanho" header="tamanho"></p-column>
</p-dataTable>



<!--  
 <div class="row" style="margin-top: 30px">
            <table class="table table-condensed">
                <tr>
                    <th> ID </th>
                    <th> Nome </th>
                    <th> Perfil </th>
                    <th>Data </th>
                   
                </tr>
                 <tr *ngFor= "let habilitacao of habilitacoes | perfiladmin; let i = index">
                        <td> <a (click)="edit(habilitacao)"> {{habilitacao.id | formatNumero}}</a> </td>   
                        <td>{{habilitacao.usu}} </td>                        
                        <td>{{habilitacao.perf}}</td>
                        <td> {{habilitacao.dt}} </td>
                </tr>


            </table>
 </div>
    -->